NODE_ENV=production

DB_USER=postgres
DB_PASSWORD=your_cloud_sql_password
DB_PORT=5432
DB_NAME=marketplace

INSTANCE_CONNECTION_NAME=your-project-id:us-central1:your-instance-name

JWT_SECRET=your_jwt_secret

EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_gmail_app_password

FRONTEND_URL=https://your-cloud-run-url
AUTH_SERVICE_URL=https://your-cloud-run-url
CART_SERVICE_URL=
PAYMENT_SERVICE_URL=
CATALOG_SERVICE_URL=
NOTIFICATION_SERVICE_URL=